table.profile td {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	min-width: 100px;
	background-color: #2299ff;
}
table.nav td {
	padding-left: 20px;
	padding-right: 20px;
}
/* Messages between two people */
table.messages {
	min-width: 600px;
	max-width: 900px;
	margin-right: auto;
}
table.messages td {
	max-width:300px;
}
/* Input for private messages */
textarea.messageInput {
	min-width: 600px;
	max-width: 900px;
	margin-right:auto;
}

/* A user's overall message list */
table.messageList td {
	padding-right: 40px;
}

#aboutMe {
	margin-right: auto;
	max-width:400px;
}
.error {color: rgb(255,15,15); }

div.progressBar { 
   /*position: relative; /* IE is dumb */
    display: block;                 
    float: left;     
    width: 500px; 
    height: 16px; 
    margin: 0 0 2px; 
    background: #eee; 
}

div.progressBar div.blue { 
    /*position: relative; */
    background: #22f; 
    height: 16px; 
    width: 75%; 
    text-align:right; 
    display:block;
    float: left;
}
div.progressBar div.red { 
    /*position: relative; */
    background: #f00; 
    height: 16px; 
    width: 75%; 
    text-align:right; 
    display:block;
    float: left;
}